.bg-dark-custom{
    background-color: #0A1E34;
}

.full-contenitore{
    height: 100vh;
    
}

header{
    height: 100px;
}

main{
    height: calc(100% - 100px);
    overflow-y: auto;
}

#sidebar{
    background-image: url('../img/sidebar-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.icone-tabella{
    max-width: 25px;
}

.offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: 100%;
    border-left: var(--bs-offcanvas-border-width) solid
        var(--bs-offcanvas-border-color);
    transform: translateX(100%);
}

@media screen and (min-width: 992px) {
    .offcanvas.offcanvas-end {
        top: 0;
        right: 0;
        width: 70%;
        border-left: var(--bs-offcanvas-border-width) solid
            var(--bs-offcanvas-border-color);
        transform: translateX(100%);
    }
}




