.bg-dark-custom{
    background-color: #0A1E34;
}

.full-contenitore{
    height: 100vh;
    
}

header{
    height: 100px;
}

main{
    height: calc(100% - 100px);
    background-color: aquamarine;
    overflow-y: auto;
}

#sidebar{
    background-image: url('../img/sidebar-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.icone-tabella{
    max-width: 25px;
}


